Contoh penerapan IoT dalam kehidupan sehari hari.docx
IoT SmartHome.docx
Jobsheet 4 (LED).pdf
3. Instalasi dan Konfigurasi Mikrokontroler.pdf
Pertemuan-05-IoT.pdf
Pertemuan-06.pdf
Modul 7 (LCD).pdf
MODUL 7 (Ultrasonik).pdf
LCD-16x2-dan-pin-out_proc.jpg
Jobsheet7_LCD&Ultrasonik.zip
minggu9.zip
UTS/biru edit.jpg
UTS/Biru.png
UTS/Exception.png
UTS/hijau edit.jpg
UTS/merah edit.jpg
UTS/Merah.png
UTS/Hijau.png
UTS/UTS.png
UTS/TI3A_15_NazarioSafariesqi_UTS_IoT.pdf
UTS/Nama dan Link Video UTS.txt
Praktikum10/blynk1.png
Praktikum10/hasil1.jpeg
Praktikum10/hasil2.jpeg
Jobsheet9/Nama_Nim.txt
TI3A_15_NazarioSafariesqi_UTS_IoT.docx
